In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

from ggplot import *
from scipy.stats import logistic
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import *
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
import graphviz
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [2]:
data1=np.array([1,2,3,4,5,6])
data1

array([1, 2, 3, 4, 5, 6])

In [3]:
# with replacement로 데이터 뽑기 random sampling
np.random.seed(0)
np.random.choice(data1,size=6,replace=True)

array([5, 6, 1, 4, 4, 4])

In [4]:
np.random.seed(0)
np.random.choice(data1,size=10,replace=True)

array([5, 6, 1, 4, 4, 4, 2, 4, 6, 3])

In [5]:
np.random.seed(0)
np.random.choice(data1,size=3,replace=True)

array([5, 6, 1])

In [6]:
# 이렇게 뽑은 데이터 set 이용해서 = boostraping 해서 tree 만들어서
# 그 tree의 prediction에서부터 final prediction 함.

np.random.choice(data1,size=20,replace=True)

array([4, 4, 4, 2, 4, 6, 3, 5, 1, 1, 5, 3, 2, 1, 2, 6, 2, 6, 1, 2])

In [7]:
# 예제

data2="c:/temp/iris.csv"
iris=pd.read_csv(data2)
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
np.random.seed(0)
iris_100=iris.iloc[np.random.randint(150,size=100)]
iris_100

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
47            4.6          3.2           1.4          0.2      setosa
117           7.7          3.8           6.7          2.2   virginica
67            5.8          2.7           4.1          1.0  versicolor
103           6.3          2.9           5.6          1.8   virginica
9             4.9          3.1           1.5          0.1      setosa
..            ...          ...           ...          ...         ...
138           6.0          3.0           4.8          1.8   virginica
114           5.8          2.8           5.1          2.4   virginica
43            5.0          3.5           1.6          0.6      setosa
127           6.1          3.0           4.9          1.8   virginica
23            5.1          3.3           1.7          0.5      setosa

[100 rows x 5 columns]

### Bagging

- 전체 iris 150개 데이터를 train test set으로 나누자
- 먼저 데이터 70%을 train으로 하고, 나머지 30% test set 으로 둔다
- train set = 150*0.7 = 105
- bagging을 105개 무작위로 여러번 뽑는다. 뽑을 때마다 BS1->tree1

In [9]:
X=iris[['Sepal.Length','Sepal.Width']]
y=iris['Species']

In [10]:
X

     Sepal.Length  Sepal.Width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [11]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [12]:
# train set과 test set으로 구분하자

X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=0)
X_train

     Sepal.Length  Sepal.Width
60            5.0          2.0
116           6.5          3.0
144           6.7          3.3
119           6.0          2.2
108           6.7          2.5
..            ...          ...
9             4.9          3.1
103           6.3          2.9
67            5.8          2.7
117           7.7          3.8
47            4.6          3.2

[105 rows x 2 columns]

In [13]:
X_test

     Sepal.Length  Sepal.Width
114           5.8          2.8
62            6.0          2.2
33            5.5          4.2
107           7.3          2.9
7             5.0          3.4
100           6.3          3.3
40            5.0          3.5
86            6.7          3.1
76            6.8          2.8
71            6.1          2.8
134           6.1          2.6
51            6.4          3.2
73            6.1          2.8
54            6.5          2.8
63            6.1          2.9
37            4.9          3.6
78            6.0          2.9
90            5.5          2.6
45            4.8          3.0
16            5.4          3.9
121           5.6          2.8
66            5.6          3.0
24            4.8          3.4
8             4.4          2.9
126           6.2          2.8
22            4.6          3.6
44            5.1          3.8
97            6.2          2.9
93            5.0          2.3
26            5.0          3.4
137           6.4          3.1
84            5.4          3.0
27            5.2          3.5
127           6.1          3.0
132           6.4          2.8
59            5.2          2.7
18            5.7          3.8
83            6.0          2.7
61            5.9          3.0
92            5.8          2.6
112           6.8          3.0
2             4.7          3.2
141           6.9          3.1
43            5.0          3.5
10            5.4          3.7

In [14]:
# train set으로 Bagging한다.

# y 가 범주형 -> RandomForestClassifier

bag1=RandomForestClassifier(n_estimators=10,max_features=None,random_state=0,max_depth=2)

In [15]:
bag1

RandomForestClassifier(max_depth=2, max_features=None, n_estimators=10,
                       random_state=0)

In [16]:
result1=bag1.fit(X_train,y_train)
result1

RandomForestClassifier(max_depth=2, max_features=None, n_estimators=10,
                       random_state=0)

In [17]:
pred1=result1.predict(X_test)
# 위에 n_estimators 가 10이니까 지금 bagging으로 10개 나무 만들어진 거고, 
# 그걸 test set 넣어서 얼만큼 잘 예측하는지 보려는 것

In [18]:
pred1

array(['versicolor', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'virginica',
       'setosa', 'setosa', 'virginica', 'versicolor', 'setosa',
       'virginica', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'virginica', 'setosa',
       'setosa'], dtype=object)

In [20]:
confusion_matrix(y_test,pred1)

array([[14,  2,  0],
       [ 1, 12,  5],
       [ 0,  4,  7]], dtype=int64)

In [ ]:
/45