In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

from scipy.stats import logistic

from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import comfusion_matrix
from sklearn.model_selection import train_test_split

In [6]:
file1="c:/temp/credit_LN4.csv"
credit=pd.read_csv(file1)
credit

      Unnamed: 0 default student      balance        income
0              1      No      No   729.526495  44361.625074
1              2      No     Yes   817.180407  12106.134700
2              3      No      No  1073.549164  31767.138947
3              4      No      No   529.250605  35704.493935
4              5      No      No   785.655883  38463.495879
...          ...     ...     ...          ...           ...
9995        9996      No      No   711.555020  52992.378914
9996        9997      No      No   757.962918  19660.721768
9997        9998      No      No   845.411989  58636.156984
9998        9999      No      No  1569.009053  36669.112365
9999       10000      No     Yes   200.922183  16862.952321

[10000 rows x 5 columns]

In [7]:
x=credit[['balance']]
y=

In [9]:
#망해따 모르겠다.
#저번에 왜 값이 다르게 나왔는지...


clf=LogisticRegression().fit(x,y)
clf

#ROC and AUC
pred1=clf.predict(x)
pred1

NameError: name 'y' is not defined

지난 시간에 했던거 하심