In [1]:
# Lecture Note 3 and 4

In [2]:
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프에서 한글이 깨지지 않기 위해 사용한다. 
from matplotlib import rcParams
from matplotlib import font_manager, rc 

rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='Malgun Gothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font', family=font_name)

In [3]:
# 동대문구 2023년 12월 아파트, 전월세 거래 데이터 
# dongdaemungu_202312.csv

df=pd.read_csv("c:/temp100/dongdaemungu_202312.csv")
df

,Unnamed: 0,monoth,deposit,m_rent,built_yr,dong_name,apt_name,size,gu_code
0,0,202312,"1,000",80,2018,신설동,포레스트힐시티,14.750,11230
1,1,202312,"1,000",77,2017,신설동,신설동지웰홈스,19.700,11230
2,2,202312,"1,000",70,2017,신설동,신설동지웰홈스,13.750,11230
3,3,202312,"16,200",10,2018,신설동,포레스트힐시티,15.250,11230
4,4,202312,"3,000",56,2018,신설동,포레스트힐시티,15.210,11230
...,...,...,...,...,...,...,...,...,...
670,670,202312,"37,000",0,2002,이문동,중앙하이츠빌,59.400,11230
671,671,202312,"5,000",100,2000,이문동,쌍용,59.990,11230
672,672,202312,"37,000",0,2002,이문동,중앙하이츠빌,59.400,11230
673,673,202312,"54,000",0,2001,이문동,이문삼성래미안아파트,149.934,11230
674,674,202312,"54,000",0,2001,이문동,이문삼성래미안아파트,149.934,11230

In [4]:
# 전세-월세 전환 공식: 전환된 전세금*0.05/12=월세,  전세금=월세*12/이자율   전월세 전환율 =0.049 
df['deposit1']=df['m_rent']*12/0.049 
df

,Unnamed: 0,monoth,deposit,m_rent,built_yr,dong_name,apt_name,size,gu_code,deposit1
0,0,202312,"1,000",80,2018,신설동,포레스트힐시티,14.750,11230,19591.836735
1,1,202312,"1,000",77,2017,신설동,신설동지웰홈스,19.700,11230,18857.142857
2,2,202312,"1,000",70,2017,신설동,신설동지웰홈스,13.750,11230,17142.857143
3,3,202312,"16,200",10,2018,신설동,포레스트힐시티,15.250,11230,2448.979592
4,4,202312,"3,000",56,2018,신설동,포레스트힐시티,15.210,11230,13714.285714
...,...,...,...,...,...,...,...,...,...,...
670,670,202312,"37,000",0,2002,이문동,중앙하이츠빌,59.400,11230,0.000000
671,671,202312,"5,000",100,2000,이문동,쌍용,59.990,11230,24489.795918
672,672,202312,"37,000",0,2002,이문동,중앙하이츠빌,59.400,11230,0.000000
673,673,202312,"54,000",0,2001,이문동,이문삼성래미안아파트,149.934,11230,0.000000
674,674,202312,"54,000",0,2001,이문동,이문삼성래미안아파트,149.934,11230,0.000000

In [7]:
df['deposit']=df['deposit'].str.replace(",","").astype(int)
df['deposit_new']=df['deposit']+df['deposit1']
df

,Unnamed: 0,monoth,deposit,m_rent,built_yr,dong_name,apt_name,size,gu_code,deposit1,deposit_new
0,0,202312,1000,80,2018,신설동,포레스트힐시티,14.750,11230,19591.836735,20591.836735
1,1,202312,1000,77,2017,신설동,신설동지웰홈스,19.700,11230,18857.142857,19857.142857
2,2,202312,1000,70,2017,신설동,신설동지웰홈스,13.750,11230,17142.857143,18142.857143
3,3,202312,16200,10,2018,신설동,포레스트힐시티,15.250,11230,2448.979592,18648.979592
4,4,202312,3000,56,2018,신설동,포레스트힐시티,15.210,11230,13714.285714,16714.285714
...,...,...,...,...,...,...,...,...,...,...,...
670,670,202312,37000,0,2002,이문동,중앙하이츠빌,59.400,11230,0.000000,37000.000000
671,671,202312,5000,100,2000,이문동,쌍용,59.990,11230,24489.795918,29489.795918
672,672,202312,37000,0,2002,이문동,중앙하이츠빌,59.400,11230,0.000000,37000.000000
673,673,202312,54000,0,2001,이문동,이문삼성래미안아파트,149.934,11230,0.000000,54000.000000
674,674,202312,54000,0,2001,이문동,이문삼성래미안아파트,149.934,11230,0.000000,54000.000000

In [ ]:
# random drawing with replacement  : 복원 추출
# random drawing without replacement : 비복원추출
# random package

In [8]:
import random

In [9]:
box=[1,2,3,4,5] # list object
box

[1, 2, 3, 4, 5]

In [11]:
random.seed(123)
sample_with_replacement=random.choices(box, k=2) # with replacement 명령어 
sample_with_replacement

[1, 1]

In [12]:
# without replacement : 비복원추출
random.seed(42)
sample_without_replacement=random.sample(box, k=2) 
sample_without_replacement

[1, 5]

In [13]:
for i in range(10):
    sample_without_replacement=random.sample(box, k=2) 
    print(sample_without_replacement)

[3, 2]
[2, 5]
[1, 5]
[5, 4]
[1, 5]
[1, 2]
[2, 1]
[5, 2]
[5, 4]
[2, 4]